/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  background-image: linear-gradient(#6a59ff, #fbc7d4);
  min-height: 100vh;
  min-width: 100vw;
}
